# Build and local dev artifacts
/pkg
/.bundle
/rails_oembed
Gemfile.lock
/doc
.yardoc
coverage
.rspec-status

# MacOS Things
.DS_Store

# Version management files
# (We want each developer to be able to use the version of their choosing)
/.rvm
/.tool-versions
/.ruby-version
/.ruby-gemset
