---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/oembed_video?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.facebook.com/381763475170840/videos/474308113397163/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"369f3f77137ef04fa16d2d9c2fc6390f1851d8fc"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"author_name":"Expo 2020 Dubai","author_url":"https:\/\/www.facebook.com\/381763475170840","provider_url":"https:\/\/www.facebook.com","provider_name":"Facebook","height":280,"html":"\u003Cdiv
        id=\"fb-root\">\u003C\/div>\n\u003Cscript async=\"1\" defer=\"1\" crossorigin=\"anonymous\"
        src=\"https:\/\/connect.facebook.net\/en_US\/sdk.js#xfbml=1&amp;version=v9.0\"
        nonce=\"Rlaw7c6a\">\u003C\/script>\u003Cdiv class=\"fb-video\" data-href=\"https:\/\/www.facebook.com\/381763475170840\/videos\/474308113397163\/\">\u003Cblockquote
        cite=\"https:\/\/www.facebook.com\/Expo2020Dubai\/videos\/474308113397163\/\"
        class=\"fb-xfbml-parse-ignore\">\u003Ca href=\"https:\/\/www.facebook.com\/Expo2020Dubai\/videos\/474308113397163\/\">Expo
        Live I Hello Ruby\u003C\/a>\u003Cp>\ud83d\udd0a Find out how Finnish #ExpoLive
        grantee Hello Ruby is transforming the way educators teach kids how to code.
        #Expo2020 #Dubai\u003C\/p>Posted by \u003Ca href=\"https:\/\/www.facebook.com\/381763475170840\">Expo
        2020 Dubai\u003C\/a> on Saturday, July 6, 2019\u003C\/blockquote>\u003C\/div>","type":"video","version":"1.0","width":500}'
  recorded_at: Mon, 14 Dec 2020 14:50:49 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/oembed_video?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.facebook.com/osherove/videos/10157895173751223/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4ff9a956e49052715d817290d75f2989e41de325"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
     [...]
[...]
