---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=https://www.youtube.com/watch?v=pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"provider_url":"https:\/\/www.youtube.com\/","thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","version":"1.0","thumbnail_height":360,"author_url":"https:\/\/www.youtube.com\/user\/CKEditor","title":"CKEditor
        4.5 - Embedding Media Resources with oEmbed","width":480,"provider_name":"YouTube","height":270,"author_name":"CKEditor
        Ecosystem","html":"\u003ciframe width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","type":"video","thumbnail_width":480}'
  recorded_at: Mon, 16 Nov 2020 05:47:54 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=http://www.youtube.com/watch?v=pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","title":"CKEditor
        4.5 - Embedding Media Resources with oEmbed","html":"\u003ciframe width=\"480\"
        height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","version":"1.0","provider_name":"YouTube","thumbnail_width":480,"author_url":"https:\/\/www.youtube.com\/user\/CKEditor","provider_url":"https:\/\/www.youtube.com\/","type":"video","height":270,"thumbnail_height":360,"author_name":"CKEditor
        Ecosystem","width":480}'
  recorded_at: Mon, 16 Nov 2020 05:47:54 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=https://youtu.be/pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"html":"\u003ciframe width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","author_name":"CKEditor
        Ecosystem","version":"1.0","height":270,"author_url":"https:\/\/www.youtube.com\/user\/CKEditor","thumbnail_width":480,"provider_url":"https:\/\/www.youtube.com\/","type":"video","thumbnail_height":360,"thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","width":480,"title":"CKEditor
        4.5 - Embedding Media Resources with oEmbed","provider_name":"YouTube"}'
  recorded_at: Mon, 16 Nov 2020 05:47:54 GMT
[...]
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=https://youtu.be/pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"thumbnail_height":360,"version":"1.0","provider_name":"YouTube","html":"\u003ciframe
        width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","title":"CKEditor
        4.5 - Embedding Media Resources with oEmbed","thumbnail_width":480,"width":480,"author_name":"CKEditor
        Ecosystem","thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","height":270,"provider_url":"https:\/\/www.youtube.com\/","type":"video","author_url":"https:\/\/www.youtube.com\/user\/CKEditor"}'
  recorded_at: Mon, 16 Nov 2020 05:47:54 GMT
recorded_with: VCR 6.0.0
