---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=https://www.youtube.com/watch?v=pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"thumbnail_height":360,"width":480,"thumbnail_width":480,"provider_url":"https:\/\/www.youtube.com\/","html":"\u003ciframe
        width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","height":270,"type":"video","version":"1.0","title":"CKEditor
        4.5 - Embedding Media Resources with oEmbed","author_name":"CKEditor Ecosystem","thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","provider_name":"YouTube","author_url":"https:\/\/www.youtube.com\/user\/CKEditor"}'
  recorded_at: Mon, 16 Nov 2020 01:15:22 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=http://www.youtube.com/watch?v=pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"html":"\u003ciframe width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","author_name":"CKEditor
        Ecosystem","title":"CKEditor 4.5 - Embedding Media Resources with oEmbed","thumbnail_width":480,"thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","width":480,"provider_name":"YouTube","height":270,"type":"video","provider_url":"https:\/\/www.youtube.com\/","thumbnail_height":360,"version":"1.0","author_url":"https:\/\/www.youtube.com\/user\/CKEditor"}'
  recorded_at: Mon, 16 Nov 2020 01:15:22 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed?format=json&scheme=https&url=https://youtu.be/pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"html":"\u003ciframe width=\"480\" height=\"270\" src=\"https:\/\/www.youtube.com\/embed\/pO5L6vXtxsI?feature=oembed\"
        frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media;
        gyroscope; picture-in-picture\" allowfullscreen\u003e\u003c\/iframe\u003e","author_name":"CKEditor
        Ecosystem","height":270,"width":480,"thumbnail_url":"https:\/\/i.ytimg.com\/vi\/pO5L6vXtxsI\/hqdefault.jpg","author_url":"https:\/\/www.youtube.com\/user\/CKEditor","provider_name":"YouTube","type":"video","thumbnail_width":480,"provider_url":"https:\/\/www.youtube.com\/","version":"1.0","thumbnail_height":360,"title":"CKEditor
        4.5 - Embedding Media Resources with oEmbed"}'
  recorded_at: Mon, 16 Nov 2020 01:15:22 GMT
recorded_with: VCR 6.0.0
