---
http_interactions:
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=https://slideshare.net/gabriele.lana/the-magic-of-elixir
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - 53Oxa1cek4bMx/t0+G8ZpA==
      X-Fruc-Version:
      - FRUC
      X-Ss-Make-Cacheable:
      - 'true'
      X-Bench-Route:
      - oembed/get_oembed_code
      Etag:
      - W/"a688e6ac5a9c81ca62b865551be5673a"
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-edc2
      X-Li-Proto:
      - http/1.0
      X-Li-Uuid:
      - tlZO/+XmRxbwmokBcCsAAA==
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0","type":"rich","title":"The Magic Of Elixir","author_name":"Gabriele
        Lana","author_url":"https://www.slideshare.net/gabriele.lana","provider_name":"SlideShare","provider_url":"https://www2.slideshare.net/","html":"\u003Ciframe
        src=\"https://www.slideshare.net/slideshow/embed_code/key/avVsGA62TMDu6n\"
        width=\"427\" height=\"356\" frameborder=\"0\" marginwidth=\"0\" marginheight=\"0\"
        scrolling=\"no\" style=\"border:1px solid #CCC; border-width:1px; margin-bottom:5px;
        max-width: 100%;\" allowfullscreen\u003E \u003C/iframe\u003E \u003Cdiv style=\"margin-bottom:5px\"\u003E
        \u003Cstrong\u003E \u003Ca href=\"https://www.slideshare.net/gabriele.lana/the-magic-of-elixir\"
        title=\"The Magic Of Elixir\" target=\"_blank\"\u003EThe Magic Of Elixir\u003C/a\u003E
        \u003C/strong\u003E from \u003Cstrong\u003E\u003Ca href=\"https://www.slideshare.net/gabriele.lana\"
        target=\"_blank\"\u003EGabriele Lana\u003C/a\u003E\u003C/strong\u003E \u003C/div\u003E\n\n","width":425,"height":355,"thumbnail":"//cdn.slidesharecdn.com/ss_thumbnails/the-magic-of-elixir-150401151316-conversion-gate01-thumbnail.jpg?cb=1427901293","thumbnail_url":"https://cdn.slidesharecdn.com/ss_thumbnails/the-magic-of-elixir-150401151316-conversion-gate01-thumbnail.jpg?cb=1427901293","thumbnail_width":170,"thumbnail_height":128,"total_slides":96,"conversion_version":2,"slide_image_baseurl":"//image.slidesharecdn.com/the-magic-of-elixir-150401151316-conversion-gate01/95/slide-","slide_image_baseurl_suffix":"-1024.jpg","version_no":"1427901293","slideshow_id":46553440}'
  recorded_at: Mon, 16 Nov 2020 05:47:47 GMT
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=https://www.slideshare.net/gabriele.lana/the-magic-of-elixir
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - O1xoFF5wFPz9CZGTGzJaOA==
      X-Fruc-Version:
      - FRUC
      X-Ss-Make-Cacheable:
     [...]
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=https://de.slideshare.net/gabriele.lana/the-magic-of-elixir
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - l6NjklZLckqBhLr9hlgsXA==
      X-Fruc-Version:
      - FRUC
      X-Ss-Make-Cacheable:
      [...]
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=http://slideshare.net/gabriele.lana/the-magic-of-elixir
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - 1YrWQDk426/UtadQO857rA==
      X-Fruc-Version:
      - FRUC
      X-Ss-Make-Cacheable:
      - 't[...]
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=http://www.slideshare.net/gabriele.lana/the-magic-of-elixir
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - jBzSAu+ko4lwn+7jp23dzg==
      X-Fruc-Version:
      - FRUC
      X-Ss-Make-Cacheable:
      [...]
- request:
    method: get
    uri: https://www.slideshare.net/api/oembed/2?format=json&url=http://de.slideshare.net/gabriele.lana/the-magic-of-elixir
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Request-Uuid:
      - TWu+crXgP3pqfTY8Pf+KqQ==
      X-Fruc-Version:
      - FRUC
      X-Ss-Make-Cacheable:
      -[...]
[...]
