---
http_interactions:
- request:
    method: get
    uri: https://codepen.io/api/oembed?format=json&url=https://codepen.io/maximakymenko/pen/mdbpeXm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Env:
      - production
      Etag:
      - W/"964b76525e93bf121b7284a64730e6e3"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "success": true,
          "type": "rich",
          "version": "1.0",
          "provider_name": "CodePen",
          "provider_url": "https://codepen.io",
          "title": "Day/night mode switch toggle with React and ThemeProvider",
          "author_name": "Maks Akymenko",
          "author_url": "https://codepen.io/maximakymenko/",
          "height": "300",
          "width": "800",
          "thumbnail_width": "384",
          "thumbnail_height": "225",
          "thumbnail_url": "https://assets.codepen.io/2163704/internal/screenshots/pens/mdbpeXm.default.png?fit=cover&amp;format=auto&amp;ha=false&amp;height=360&amp;quality=75&amp;v=2&amp;version=1568797448&amp;width=640",
          "html": "<iframe id=\"cp_embed_mdbpeXm\" src=\"https://codepen.io/maximakymenko/embed/preview/mdbpeXm?height=300&amp;slug-hash=mdbpeXm&amp;default-tabs=js,result&amp;host=https://codepen.io\" title=\"Day/night mode switch toggle with React and ThemeProvider\" scrolling=\"no\" frameborder=\"0\" height=\"300\" allowtransparency=\"true\" class=\"cp_embed_iframe\" style=\"width: 100%; overflow: hidden;\"></iframe>"
        }
  recorded_at: Mon, 16 Nov 2020 05:47:47 GMT
[...]
