---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/instagram_oembed?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.instagram.com/p/B9bOM-6Ax_d/?igshid=1mn51zsvrhoiq
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7db92b2e07526b0bccbd17075a7eabc0fed8ec44"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"version":"1.0","author_name":"ruby_eloquent","provider_name":"Instagram","provider_url":"https:\/\/www.instagram.com\/","type":"rich","width":658,"html":"\u003Cblockquote
        class=\"instagram-media\" data-instgrm-captioned data-instgrm-permalink=\"https:\/\/www.instagram.com\/p\/B9bOM-6Ax_d\/?utm_source=ig_embed&amp;utm_campaign=loading\"
        data-instgrm-version=\"13\" style=\" background:#FFF; border:0; border-radius:3px;
        box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin:
        1px; max-width:658px; min-width:326px; padding:0; width:99.375\u0025; width:-webkit-calc(100\u0025
        - 2px); width:calc(100\u0025 - 2px);\">\u003Cdiv style=\"padding:16px;\">
        \u003Ca href=\"https:\/\/www.instagram.com\/p\/B9bOM-6Ax_d\/?utm_source=ig_embed&amp;utm_campaign=loading\"
        style=\" background:#FFFFFF; line-height:0; padding:0 0; text-align:center;
        text-decoration:none; width:100\u0025;\" target=\"_blank\"> \u003Cdiv style=\"
        display: flex; flex-direction: row; align-items: center;\"> \u003Cdiv style=\"background-color:
        #F4F4F4; border-radius: 50\u0025; flex-grow: 0; height: 40px; margin-right:
        14px; width: 40px;\">\u003C\/div> \u003Cdiv style=\"display: flex; flex-direction:
        column; flex-grow: 1; justify-content: center;\"> \u003Cdiv style=\" background-color:
        #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px;
        width: 100px;\">\u003C\/div> \u003Cdiv style=\" background-color: #F4F4F4;
        border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;\">\u003C\/div>\u003C\/div>\u003C\/div>\u003Cdiv
        style=\"padding: 19\u0025 0;\">\u003C\/div> \u003Cdiv style=\"display:block;
        height:50px; margin:0 auto 12px; width:50px;\">\u003Csvg width=\"50px\" height=\"50px\"
        viewBox=\"0 0 60 60\" version=\"1.1\" xmlns=\"https:\/\/www.w3.org\/2000\/svg\"
        xmlns:xlink=\"https:\/\/www.w3.org\/1999\/xlink\">\u003Cg stroke=\"none\"
        stroke-width=\"1\" fill=\"none\" fill-rule=\"evenodd\">\u003Cg transform=\"translate(-511.000000,
        -20.000000)\" fill=\"#000000\">\u003Cg>\u003Cpath d=\"M556.869,30.41 C554.814,30.41
        553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852
        C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41
        M541,60.657 C535.114,60.657 530.342,55.887 530.[...]
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/instagram_oembed?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.instagram.com/tv/CCX-gcHArcJ/?igshid=1i0rst4jaz0j
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0b6df02aad19c3ab95dab9a0c674550264bc7b45"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0[...]
[...]
