---
http_interactions:
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&scheme=https&url=https://www.youtube.com/watch?v=pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"CKEditor 4.5 - Embedding Media Resources with oEmbed","author_name":"CKEditor","author_url":"https://www.youtube.com/@CKEditor","type":"video","height":113,"width":200,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/pO5L6vXtxsI/hqdefault.jpg","html":"\u003ciframe
        width=\u0022200\u0022 height=\u0022113\u0022 src=\u0022https://www.youtube.com/embed/pO5L6vXtxsI?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share\u0022 allowfullscreen
        title=\u0022CKEditor 4.5 - Embedding Media Resources with oEmbed\u0022\u003e\u003c/iframe\u003e"}'
  recorded_at: Sun, 25 Feb 2024 23:24:26 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&scheme=https&url=http://www.youtube.com/watch?v=pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"CKEditor 4.5 - Embedding Media Resources with oEmbed","author_name":"CKEditor","author_url":"https://www.youtube.com/@CKEditor","type":"video","height":113,"width":200,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/pO5L6vXtxsI/hqdefault.jpg","html":"\u003ciframe
        width=\u0022200\u0022 height=\u0022113\u0022 src=\u0022https://www.youtube.com/embed/pO5L6vXtxsI?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share\u0022 allowfullscreen
        title=\u0022CKEditor 4.5 - Embedding Media Resources with oEmbed\u0022\u003e\u003c/iframe\u003e"}'
  recorded_at: Sun, 25 Feb 2024 23:24:26 GMT
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&scheme=https&url=https://youtu.be/pO5L6vXtxsI
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"title":"CKEditor 4.5 - Embedding Media Resources with oEmbed","author_name":"CKEditor","author_url":"https://www.youtube.com/@CKEditor","type":"video","height":113,"width":200,"version":"1.0","provider_name":"YouTube","provider_url":"https://www.youtube.com/","thumbnail_height":360,"thumbnail_width":480,"thumbnail_url":"https://i.ytimg.com/vi/pO5L6vXtxsI/hqdefault.jpg","html":"\u003ciframe
        width=\u0022200\u0022 height=\u0022113\u0022 src=\u0022https://www.youtube.com/embed/pO5L6vXtxsI?feature=oembed\u0022
        frameborder=\u00220\u0022 allow=\u0022accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share\u0022 allowfullscreen
        title=\u0022CKEditor 4.5 - Embedding Media Resources with oEmbed\u0022\u003e\u003c/iframe\u003e"}'
  recorded_at: Sun, 25 Feb 2024 23:24:26 GMT
[...]
- request:
    method: get
    uri: https://www.youtube.com/oembed/?format=json&scheme=https&url=https://youtu.be/NHriYTkvd0g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: Forbidden
  recorded_at: Sun, 25 Feb 2024 23:24:26 GMT
recorded_with: VCR 6.1.0
