---
http_interactions:
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=https://open.spotify.com/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Location:
      - "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F7y8NWS6gR3Wz4C7W8Bh0WL%3Fsi%3Daa84a1d637ac4b3d&format=json"
      Refresh:
      - 0;url=/oembed?url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F7y8NWS6gR3Wz4C7W8Bh0WL%3Fsi%3Daa84a1d637ac4b3d&format=json
      Sp-Trace-Id:
      - 4f18f5f0f6ce7dcb
    body:
      encoding: ASCII-8BIT
      string: "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F7y8NWS6gR3Wz4C7W8Bh0WL%3Fsi%3Daa84a1d637ac4b3d&format=json"
  recorded_at: Thu, 24 Aug 2023 08:59:21 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 1d3672cddb05eeb7
    body:
      encoding: ASCII-8BIT
      string: '{"html":"<iframe style=\"border-radius: 12px\" width=\"100%\" height=\"152\"
        title=\"Spotify Embed: Don&apos;t Bring Me Down\" frameborder=\"0\" allowfullscreen
        allow=\"autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture\"
        loading=\"lazy\" src=\"https://open.spotify.com/embed/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d&utm_source=oembed\"></iframe>","iframe_url":"https://open.spotify.com/embed/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d&utm_source=oembed","width":456,"height":152,"version":"1.0","provider_name":"Spotify","provider_url":"https://spotify.com","type":"rich","title":"Don''t
        Bring Me Down","thumbnail_url":"https://i.scdn.co/image/ab67616d00001e02c74f62d1a5d6a4e10b6f8c99","thumbnail_width":300,"thumbnail_height":300}'
  recorded_at: Thu, 24 Aug 2023 08:59:21 GMT
[...]
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=https://open.spotify.com/artist/1TTfuOdEtj8lin2zR4OWmP?si=NoNEzt24RtyGKIg77zXf8g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Location:
      - "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fartist%2F1TTfuOdEtj8lin2zR4OWmP%3Fsi%3DNoNEzt24RtyGKIg77zXf8g&format=json"
      Refresh:
      - 0;url=/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fartist%2F1TTfuOdEtj8lin2zR4OWmP%3Fsi%3DNoNEzt24RtyGKIg77zXf8g&format=json
    body:
      encoding: ASCII-8BIT
      string: "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fartist%2F1TTfuOdEtj8lin2zR4OWmP%3Fsi%3DNoNEzt24RtyGKIg77zXf8g&format=json"
  recorded_at: Tue, 26 Nov 2024 01:34:37 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/artist/1TTfuOdEtj8lin2zR4OWmP?si=NoNEzt24RtyGKIg77zXf8g
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Origin-Trial:
      - AjTBCzHiqtNU3PxD6GL8VpVl68/SfxkZJuLQbbyvSNj6/o9VuhZ5EPb/2dTYqi+Mot0AD6XOHBeIatAwEt4lAQcAAABOeyJvcmlnaW4iOiJodHRwczovL29wZW4uc3BvdGlmeS5jb206NDQzIiwiZmVhdHVyZSI6IlRwY2QiLCJleHBpcnkiOjE3MzUzNDM5OTl9
      Critical-Origin-Trial:
      - Tpcd
      X-Middleware-Set-Cookie:
      - sp_t=c21c2908b5f0557494cc5d909f97c801; Path=/; Expires=Wed, 26 Nov 2025 01:34:37
        GMT; Max-Age=31536000; Domain=.spotify.com; Secure; SameSite=none,sp_landing=http%3A%2F%2Fembed.spotify.com%2Foembed%3Fsp_cid%3Dc21c2908b5f0557494cc5d909f97c801%26device%3Ddesktop;
        Path=/; Expires=Wed, 27 Nov 2024 01:34:37 GMT; Max-Age=86400; Domain=.spotify.com;
        Secure; HttpOnly; SameSite=none
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"html":"<iframe style=\"border-radius: 12px\" width=\"100%\" height=\"352\"
        title=\"Spotify Embed: Flock of Dimes\" frameborder=\"0\" allowfullscreen
        allow=\"autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture\"
        loading=\"lazy\" src=\"https://open.spotify.com/embed/artist/1TTfuOdEtj8lin2zR4OWmP?si=NoNEzt24RtyGKIg77zXf8g&utm_source=oembed\"></iframe>","iframe_url":"https://open.spotify.com/embed/artist/1TTfuOdEtj8lin2zR4OWmP?si=NoNEzt24RtyGKIg77zXf8g&utm_source=oembed","width":456,"height":352,"version":"1.0","provider_name":"Spotify","provider_url":"https://spotify.com","type":"rich","title":"Flock
        of Dimes"}'
  recorded_at: Tue, 26 Nov 2024 01:34:37 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=https://open.spotify.com/show/0gWT8X6lgGuJkpcx0XJ3yr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Location:
      - "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fshow%2F0gWT8X6lgGuJkpcx0XJ3yr&format=json"
      Refresh:
      - 0;url=/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fshow%2F0gWT8X6lgGuJkpcx0XJ3yr&format=json
    body:
      encoding: ASCII-8BIT
      string: "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fshow%2F0gWT8X6lgGuJkpcx0XJ3yr&format=json"
  recorded_at: Tue, 26 Nov 2024 01:34:37 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/show/0gWT8X6lgGuJkpcx0XJ3yr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Origin-Trial:
      - AjTBCzHiqtNU3PxD6GL8VpVl68/SfxkZJuLQbbyvSNj6/o9VuhZ5EPb/2dTYqi+Mot0AD6XOHBeIatAwEt4lAQcAAABOeyJvcmlnaW4iOiJodHRwczovL29wZW4uc3BvdGlmeS5jb206NDQzIiwiZmVhdHVyZSI6IlRwY2QiLCJleHBpcnkiOjE3MzUzNDM5OTl9
 [...]
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=https://open.spotify.com/episode/6z1oAq0SxQ6jPUiLQMEDC6?si=2DUQZ9taQuKaCXGTa48uNw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Location:
      - "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fepisode%2F6z1oAq0SxQ6jPUiLQMEDC6%3Fsi%3D2DUQZ9taQuKaCXGTa48uNw&format=json"
      Refresh:
      - 0;url=/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fepisode%2F6z1oAq0SxQ6jPUiLQMEDC6%3Fsi%3D2DUQZ9taQuKaCXGTa48uNw&format=json
    body:
      encoding: ASCII-8BIT
      string: "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fepisode%2F6z1oAq0SxQ6jPUiLQMEDC6%3Fsi%3D2DUQZ9taQuKaCXGTa48uNw&format=json"
  recorded_at: Tue, 26 Nov 2024 01:34:38 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/episode/6z1oAq0SxQ6jPUiLQMEDC6?si=2DUQZ9taQuKaCXGTa48uNw
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Origin-Trial:
      - AjTBCzHiqtNU3PxD6GL8VpVl68/SfxkZJuLQbbyvSNj6/o9VuhZ5EPb/2dTYqi+Mot0AD6XOHBeIatAwEt4lAQcAAABOeyJvcmlnaW4iOiJodHRwczovL29wZW4uc3BvdGlmeS5jb206NDQzIiwiZmVhdHVyZSI6IlRwY2QiL[...]
[...]
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=https://open.spotify.com/playlist/5HcLrk4q1DPf9CucFfGLWF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Location:
      - "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fplaylist%2F5HcLrk4q1DPf9CucFfGLWF&format=json"
      Refresh:
      - 0;url=/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fplaylist%2F5HcLrk4q1DPf9CucFfGLWF&format=json
    body:
      encoding: ASCII-8BIT
      string: "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Fplaylist%2F5HcLrk4q1DPf9CucFfGLWF&format=json"
  recorded_at: Tue, 26 Nov 2024 01:37:14 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/playlist/5HcLrk4q1DPf9CucFfGLWF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Origin-Trial:
      - AjTBCzHiqtNU3PxD6GL8VpVl68/SfxkZJuLQbbyvSNj6/o9VuhZ5EPb/2dTYqi+Mot0AD6XOHBeIatAwEt4lAQcAAABOeyJvcmlnaW4iOiJodHRwczovL29wZW4uc3BvdGlmeS5jb206NDQzIiwiZmVhdHVyZSI6IlRwY2QiLCJleHBpcnkiOjE3MzUzNDM5OTl9
      Critical-Origin-Trial:
      - Tpcd
      X-Middleware-Set-Cookie:
      - sp_t=7e1cfbacdce7212676b1f01bde61979d; Path=/; Expires=Wed, 26 Nov 2025 01:37:14
        GMT; Max-Age=31536000; Domain=.spotify.com; Secure; SameSite=none,sp_landing=http%3A%2F%2Fembed.spotify.com%2Foembed%3Fsp_cid%3D7e1cfbacdce7212676b1f01bde61979d%26device%3Ddesktop;
        Path=/; Expires=Wed, 27 Nov 2024 01:37:14 GMT; Max-Age=86400; Domain=.spotify.com;
        Secure; HttpOnly; SameSite=none
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 26 Nov 2024 01:37:15 GMT
[...]
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/playlist/5HcLrk4q1DPf9CucFfGLWF
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Origin-Trial:
      - AjTBCzHiqtNU3PxD6GL8VpVl68/SfxkZJuLQbbyvSNj6/o9VuhZ5EPb/2dTYqi+Mot0AD6XOHBeIatAwEt4lAQcAAABOeyJvcmlnaW4iOiJodHRwczovL29wZW4uc3BvdGlmeS5jb206NDQzIiwiZmVhdHVyZSI6IlRwY2QiLCJleHBpcnkiOjE3MzUzNDM5OTl9
      Critical-Origin-Trial:
      - Tpcd
      X-Middleware-Set-Cookie:
      - sp_t=e1165dc079ff896c1a505672530e83ed; Path=/; Expires=Wed, 26 Nov 2025 01:37:15
        GMT; Max-Age=31536000; Domain=.spotify.com; Secure; SameSite=none,sp_landing=http%3A%2F%2Fembed.spotify.com%2Foembed%3Fsp_cid%3De1165dc079ff896c1a505672530e83ed%26device%3Ddesktop;
        Path=/; Expires=Wed, 27 Nov 2024 01:37:15 GMT; Max-Age=86400; Domain=.spotify.com;
        Secure; HttpOnly; SameSite=none
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 26 Nov 2024 01:37:15 GMT
recorded_with: VCR 6.1.0
