---
http_interactions:
- request:
    method: get
    uri: https://embed.spotify.com/oembed/?format=json&url=https://open.spotify.com/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 308
      message: Permanent Redirect
    headers:
      Location:
      - "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F7y8NWS6gR3Wz4C7W8Bh0WL%3Fsi%3Daa84a1d637ac4b3d&format=json"
      Refresh:
      - 0;url=/oembed?url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F7y8NWS6gR3Wz4C7W8Bh0WL%3Fsi%3Daa84a1d637ac4b3d&format=json
      Sp-Trace-Id:
      - 4f18f5f0f6ce7dcb
    body:
      encoding: ASCII-8BIT
      string: "/oembed?url=https%3A%2F%2Fopen.spotify.com%2Ftrack%2F7y8NWS6gR3Wz4C7W8Bh0WL%3Fsi%3Daa84a1d637ac4b3d&format=json"
  recorded_at: Thu, 24 Aug 2023 08:59:21 GMT
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 1d3672cddb05eeb7
    body:
      encoding: ASCII-8BIT
      string: '{"html":"<iframe style=\"border-radius: 12px\" width=\"100%\" height=\"152\"
        title=\"Spotify Embed: Don&apos;t Bring Me Down\" frameborder=\"0\" allowfullscreen
        allow=\"autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture\"
        loading=\"lazy\" src=\"https://open.spotify.com/embed/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d&utm_source=oembed\"></iframe>","iframe_url":"https://open.spotify.com/embed/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d&utm_source=oembed","width":456,"height":152,"version":"1.0","provider_name":"Spotify","provider_url":"https://spotify.com","type":"rich","title":"Don''t
        Bring Me Down","thumbnail_url":"https://i.scdn.co/image/ab67616d00001e02c74f62d1a5d6a4e10b6f8c99","thumbnail_width":300,"thumbnail_height":300}'
  recorded_at: Thu, 24 Aug 2023 08:59:21 GMT
[...]
- request:
    method: get
    uri: https://embed.spotify.com/oembed?format=json&url=https://open.spotify.com/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - be6fdaf09ca39308
    body:
      encoding: ASCII-8BIT
      string: '{"html":"<iframe style=\"border-radius: 12px\" width=\"100%\" height=\"152\"
        title=\"Spotify Embed: Don&apos;t Bring Me Down\" frameborder=\"0\" allowfullscreen
        allow=\"autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture\"
        loading=\"lazy\" src=\"https://open.spotify.com/embed/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d&utm_source=oembed\"></iframe>","iframe_url":"https://open.spotify.com/embed/track/7y8NWS6gR3Wz4C7W8Bh0WL?si=aa84a1d637ac4b3d&utm_source=oembed","width":456,"height":152,"version":"1.0","provider_name":"Spotify","provider_url":"https://spotify.com","type":"rich","title":"Don''t
        Bring Me Down","thumbnail_url":"https://i.scdn.co/image/ab67616d00001e02c74f62d1a5d6a4e10b6f8c99","thumbnail_width":300,"thumbnail_height":300}'
  recorded_at: Thu, 24 Aug 2023 08:59:21 GMT
recorded_with: VCR 6.2.0
