---
http_interactions:
- request:
    method: get
    uri: https://my.matterport.com/api/v1/models/oembed/?format=json&url=https://my.matterport.com/show/?m=FmDYedjofjo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 31 Jan 2024 14:44:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url": "https://matterport.com", "version": "1.0", "thumbnail_width":
        1920, "height": 480, "thumbnail_url": "https://my.matterport.com/api/v2/player/models/FmDYedjofjo/thumb/",
        "thumbnail_height": 1080, "title": "Southern California Luxury Home", "width":
        640, "html": "<iframe width=\"640\" height=\"480\" frameborder=\"0\" allowfullscreen
        allow=\"xr-spatial-tracking\" src=\"https://my.matterport.com/show/?m=FmDYedjofjo\"
        ></iframe>", "provider_name": "Matterport", "type": "rich"}'
  recorded_at: Thu, 01 Feb 2024 00:08:25 GMT
- request:
    method: get
    uri: https://my.matterport.com/api/v1/models/oembed/?format=json&url=https://my.matterport.com/show/?m=FmDYedjofjo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Wed, 31 Jan 2024 14:44:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"provider_url": "https://matterport.com", "version": "1.0", "thumbnail_width":
        1920, "height": 480, "thumbnail_url": "https://my.matterport.com/api/v2/player/models/FmDYedjofjo/thumb/",
        "thumbnail_height": 1080, "title": "Southern California Luxury Home", "width":
        640, "html": "<iframe width=\"640\" height=\"480\" frameborder=\"0\" allowfullscreen
        allow=\"xr-spatial-tracking\" src=\"https://my.matterport.com/show/?m=FmDYedjofjo\"
        ></iframe>", "provider_name": "Matterport", "type": "rich"}'
  recorded_at: Thu, 01 Feb 2024 00:08:25 GMT
recorded_with: VCR 6.2.0
