---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/oembed_post?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.facebook.com/rubyonrailstogo/posts/3610333842332884
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1f6acea440cbe976f7449b7426f24793cdac7d99"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"author_name":"Ruby on Rails","author_url":"https:\/\/www.facebook.com\/1284562961576662","provider_url":"https:\/\/www.facebook.com","provider_name":"Facebook","html":"\u003Cdiv
        id=\"fb-root\">\u003C\/div>\n\u003Cscript async=\"1\" defer=\"1\" crossorigin=\"anonymous\"
        src=\"https:\/\/connect.facebook.net\/en_US\/sdk.js#xfbml=1&amp;version=v9.0\"
        nonce=\"H5nTROVv\">\u003C\/script>\u003Cdiv class=\"fb-post\" data-href=\"https:\/\/www.facebook.com\/rubyonrailstogo\/posts\/3610333842332884\"
        data-width=\"552\">\u003Cblockquote cite=\"https:\/\/graph.facebook.com\/1284562961576662\/posts\/3610333842332884\/\"
        class=\"fb-xfbml-parse-ignore\">\u003Cp>Nice Article\u003C\/p>Posted by \u003Ca
        href=\"https:\/\/www.facebook.com\/1284562961576662\">Ruby on Rails\u003C\/a>
        on&nbsp;\u003Ca href=\"https:\/\/graph.facebook.com\/1284562961576662\/posts\/3610333842332884\/\">Wednesday,
        August 5, 2020\u003C\/a>\u003C\/blockquote>\u003C\/div>","type":"rich","version":"1.0","width":552}'
  recorded_at: Tue, 08 Dec 2020 17:56:19 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/oembed_post?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.facebook.com/notes/facebook-app/welcome-to-the-facebook-blog/2207517130/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"91487bbf6e0d5c3c031b68ec4d29b52b72550dd6"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Ver[...]
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/oembed_post?access_token=A_FAKE_TOKEN_FOR_TESTS&format=json&url=https://www.facebook.com/tumocenter/photos/bc.AbpR7-R7Lu6GodUph_UNg1Ttn-k7Ni-M8X89Io4cWsYkK0OPde6MTVKHSiTNDEanWYkwQGyu-YwpNnS4MXUqeYen_ovuiBPQixaA-tjNBcVUFAMWPaxX-NU1mm2ovExEORQOdohcH339Xmxch3kbSPcJ/1084373708267461/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
   [...]
[...]
