---
http_interactions:
- request:
    method: get
    uri: https://codepen.io/api/oembed?format=json&url=https://codepen.io/maximakymenko/pen/mdbpeXm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"548b2f3196584228879ee8b4ce66e472"
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "success": true,
          "type": "rich",
          "version": "1.0",
          "provider_name": "CodePen",
          "provider_url": "https://codepen.io",
          "title": "Day/night mode switch toggle with React and ThemeProvider",
          "author_name": "Maks Akymenko",
          "author_url": "https://codepen.io/maximakymenko",
          "height": "300",
          "width": "800",
          "thumbnail_width": "384",
          "thumbnail_height": "225",
          "thumbnail_url": "https://shots.codepen.io/username/pen/mdbpeXm-512.jpg?version=1568797448",
          "html": "<iframe id=\"cp_embed_mdbpeXm\" src=\"https://codepen.io/maximakymenko/embed/preview/mdbpeXm?default-tabs=js%2Cresult&amp;height=300&amp;host=https%3A%2F%2Fcodepen.io&amp;slug-hash=mdbpeXm\" title=\"Day/night mode switch toggle with React and ThemeProvider\" scrolling=\"no\" frameborder=\"0\" height=\"300\" allowtransparency=\"true\" class=\"cp_embed_iframe\" style=\"width: 100%; overflow: hidden;\"></iframe>"
        }
  recorded_at: Sun, 25 Feb 2024 23:25:05 GMT
[...]
